* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-box-shadow-color: rgba(158, 23, 254, 0.468);
}

.container {
    background-color: #333;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music_box {
    background-color: #c98dfd;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 10px ;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-shadow: 0px 5px 10px var(--main-box-shadow-color);
}

.song_img {
    width: 250px;
    border-radius: 100%;
    border: 5px solid #fff;
    box-shadow: 0 10px 60px rgba(158, 23, 254, 0.468);
}

.music_box h1 {
    /* font-size: 30px; */
    font-weight: 600;
    color: #333;
    margin-top: 20px;
}

.music_box p {
    font-size: 18px;
    color: #333;
}

#progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background-color: #fc37ff;
    border-radius: 4px;
    cursor: pointer;
    margin: 35px 0 ;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #f53192;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px 3px var(--main-box-shadow-color);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 10px 20px var(--main-box-shadow-color);
    cursor: pointer;
}

.controls div:nth-child(2) {
    background-color: #f53192;
    transform: scale(1.5);
    color: #fff;
}